body {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.link_logo {
    display: inline-block;
}

.bck_footer {
    background: #081C24;
}

.img_cover {
    background-size: cover !important;
}

.container {
  height: 100%;
  min-height: 320px;
  margin: 150px auto 0px auto;
  width: 1000px;
}

/*=============================
            SEARCH BAR
===============================*/

.searchbar {
  display: flex;
  font-size: 18px;
  width: 100%;
  padding-top: 6px;
  padding-left: 16px;
  border: 1px solid grey;
  box-sizing: border-box;
}

.searchbar input {
  width: 100%;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 10px 5px;
  outline: none;
}

.searchbar input::placeholder {
  color: #bababa;
}

.searchbar i {
  padding-right: 10px;
  padding-top: 5px;
}

.search_prompt {
  text-align: center;
  margin-top: 100px;
}

/*=============================
            HEADER FOOTER
===============================*/

.header_logo {
    padding: 10px 5px;
}

footer {
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    padding: 30px 0px;
    margin-top: 90px;
}

footer .img_cover{
   margin:0 auto;
}

footer .footer_disclaimer, .footer_credits {
    margin: 10px 0px;
}

footer a:hover {
    color: #01D277;
}

.heart {
  background-color: #D10022;
  height: 10px;
  transform: rotate(-45deg);
  width: 10px;
  margin: 0px 5px 0px 5px;
  display: inline-block;
}

.heart:before,
.heart:after {
  content: "";
  background-color: #D10022;
  border-radius: 50%;
  height: 10px;
  position: absolute;
  width: 10px;
}

.heart:before {
  top: -5px;
  left: 0;
}

/*=============================
            MOVIE
===============================*/

.movie_table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.movie_table td {
  padding: 30px 70px;
  margin: 10px;
}

.movie_table .view {
  width: 80px;
  text-align: center;
  border: none;
  border-radius: 20px;
  color: #fff;
  background-color: #01D277;
  font-size: 14px;
  padding: 7px 15px;
  cursor: pointer;
}

.movie_show {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

.movie_show td {
  padding: 30px 70px;
  margin: 10px;
}

.back_btn {
  display: flex;
  color: #01D277;
  font-size: 18px;
  margin-left: 50px;
  margin-top: 150px;
  cursor: pointer;
}

.progress {
  text-align: center;
  padding: 60px 60px;
}

.extra {
  display: inline;
  width: 100%;
}

.facts {
  width: 50%;
  float: left;
}

.credits {
  float: right;
  width: 50%;
}

.credit_name:hover {
  color: #01D277;
}

/*=============================
            PEOPLE
===============================*/

.people_table {
  border-collapse: collapse;
  width: 50%;
  margin-top: 20px;
}

.people_table td {
  padding: 30px 70px;
  margin: 10px;
}

.people_table .view {
  width: 80px;
  text-align: center;
  border: none;
  border-radius: 20px;
  color: #fff;
  background-color: #01D277;
  font-size: 14px;
  padding: 7px 15px;
  cursor: pointer;
}